.o2
{
    background-color: #fbfcfd;
    width: 100%;
    height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: center;
border-top: 1px solid white;
}
.k2
{
    width: 100%;
    max-width: 1100px;
    height: 100%;

    display: flex;
    align-items: center;
}
.svg-img
{

    height: 70%;
   width: 100%;
 
  

}
.left2
{
    width: 50%;
    height: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
}
.right2
{
    width: 50%;
    height: 70%;
 
 display: flex;
 justify-content: flex-start;
 flex-direction: column;


}
.medium2-txt
{
    font-size: 19px;
    line-height: 1;
    font-weight: 600;
    color: #00df9a;

}
.big2-txt
 {
        font-size: 50px;
        line-height: 1;
        color: rgb(0, 0, 0);
        font-weight: 600;
        margin: 0px;
}
.small2-txt
{
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: #687076;


}

    .button2
{
    width: 180px;
    height: 55px;
background-color: #00df9a;
    border-radius: 12px;
    letter-spacing: -0.3px;
    font-size: 16px;
    color: black;
    font-weight: 600;
  border: none;
   cursor: pointer;
   font-family: "Inter", sans-serif;
   margin-top: 10px;
   transition: all .2s;
}
.button2:hover
{
    transform: translateY(-3px) ;
}
@media only screen and (max-width: 980px) {
.o2{

  height:110dvh ;
  
  align-items: flex-start;

}
.k2{
 
  flex-direction: column;
  width: 90%;
  height: 95%;

}
.left2
{

    height:50%;

    width: 100%;

}
.right2
{

  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.big2-txt
{
  font-size: 42px;
}
.small2-txt
{
    font-size: 14px;
    text-align: center;
}
.button2
{
    width: 160px;
    height: 50px;
}



}
@media only screen and (max-width: 760px) {

    .big2-txt
    {
      font-size: 30px;
    }
.medium2-txt
{
    font-size: 16px;
   
}


}
@media only screen and (max-width: 530px) {
    .big2-txt
    {
      font-size: 25px;
      text-align: center;
    }
    .small2-txt
    {
        font-size: 13px;
        text-align: center;
    }




}