.o4
{
    width: 100%;
    height: 100dvh;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;

}
.k4
{
    width: 100%;
    max-width: 1100px;

    height: 80%;
display: flex;
justify-content: space-between;
align-items: center;
}
.card
{
   background-color: white;
    height: 75%;
    width: 32%;
    border-radius: 20px;
    cursor: pointer;
    transition: all .2s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 17px 0px rgb(201, 201, 202);
}
.card-top
{
    flex-direction: column;
    height: 75%;
    width: 32%;
    border-radius: 20px;
    margin-top: -60px;
    cursor: pointer;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 17px 0px rgb(201, 201, 202);
    background-color: rgb(250, 250, 250);

}
.card-top:hover,
.card:hover {
    transform: translateY(-5px);
}
.forall
{
    height: 90%;

    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}
.button4
{
    width:65%;
    height:65px;
background-color: #00df9a;
    border-radius: 12px;
    letter-spacing: -0.3px;
    font-size: 16px;
    color: black;
    font-weight: 600;
  border: none;
   cursor: pointer;
   font-family: "Inter", sans-serif;
margin-top: 20px;
   transition: all .2s;
}
.button4:hover{
    transform: translateY(-5px);
}
.li4
{
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 0px;
display: flex;
justify-content: center;
align-items: center;
font-weight: 500;
letter-spacing: -0.5px;

}
.icon4
{
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;


}
.big-txt4
{
    font-size: 22px;
    padding: 20px;
    font-weight: 600;
}
.icon1-svg
{
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}
.price
{
    font-size: 25px;
    font-weight: 600;
    padding: 10px;

}
.svg-img-2
{
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}
.svg-img-3
{
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}
.show1
{
    width: 100%;
    max-width: 700px;
    height: 70vh;
    position: absolute;
   background-color: #f8f8f8;
    border-radius: 20px;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.modal-bg
{
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(24px);
  opacity: 1;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-button
{
    
  background-color: #000000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
color: #00df9a;
  font-size: 23px;
  font-weight: 700;
position: absolute;
right:2%;
top:3%;
display: flex;
justify-content: center;
align-items: center;
border: none;
cursor: pointer;
}
.foricon
{
width: 70%;
}
@media only screen and (max-width: 980px) {
.o4
{
 
    height: 250dvh;
}
.k4{
    flex-direction: column;
    width: 90%;
    height: 95%;
  

}
.forall
{
  
    height: 100%;
}
.card
{
width: 100%;
height: 32%;
}
.card-top
{
    width: 100%;
    margin: 0px;
    height: 32%;

}
.li4{
    padding: 10px;
   
}
.button4
{
    margin-top:10px;
    width: 40%;
}

.icon1-svg,
.svg-img-2,
.svg-img-3

{
    width: 100%;
    height: 100%;
   margin: 0px;
}
.modal-bg
{
    height:250dvh;
}
.show1
{
    width: 80%;
}
}
